extends ../base.pug

block stylesheets
    link(rel="stylesheet", href=require('Styles/city.scss'))
    
block content
    h1.header
        block header
    .img
        block image
    .text
        block text
