doctype html
html
    head
        title Русские города
        link(rel="stylesheet" href=require('../../styles/main.scss'))
    body
        h1 Русские города
        details
            summary Меню
            ul
                li
                    a(href="table") Таблица
        hr
        h2 Галерея
        a(href="moscow")
            img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/Moscow_July_2011-16.jpg/266px-Moscow_July_2011-16.jpg", title="Москва")
        a(href="#")
            img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/Palace_Bridge_SPB_%28img2%29_Crop.jpg/266px-Palace_Bridge_SPB_%28img2%29_Crop.jpg", title="Санкт-Петербург")
        a(href="#")
            img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Saratov_Montage_%282016%29.png/290px-Saratov_Montage_%282016%29.png", title="Саратов")
        a(href="#")
            img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/%D0%A3%D1%81%D1%81%D1%83%D1%80%D0%B8%D0%B9%D1%81%D0%BA%D0%B8%D0%B9_%D0%B1%D1%83%D0%BB%D1%8C%D0%B2%D0%B0%D1%80.jpg/290px-%D0%A3%D1%81%D1%81%D1%83%D1%80%D0%B8%D0%B9%D1%81%D0%BA%D0%B8%D0%B9_%D0%B1%D1%83%D0%BB%D1%8C%D0%B2%D0%B0%D1%80.jpg", title="Хабаровск")
        a(href="#")
            img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b4/%D0%A1%D1%8B%D0%B7%D1%80%D0%B0%D0%BD%D1%8C_-_panoramio_%289%29.jpg/290px-%D0%A1%D1%8B%D0%B7%D1%80%D0%B0%D0%BD%D1%8C_-_panoramio_%289%29.jpg", title="Сызрань")
        a(href="#")
            img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/%D0%A4%D0%BE%D1%82%D0%BE%D0%B3%D1%80%D0%B0%D1%84%D0%B8%D1%8F_%D0%A7%D0%B5%D0%BB%D1%8F%D0%B1%D0%B8%D0%BD%D1%81%D0%BA%D0%B0_%D1%81_%D0%BE%D1%82%D1%80%D0%B0%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5%D0%BC_%282021%29.jpg/290px-%D0%A4%D0%BE%D1%82%D0%BE%D0%B3%D1%80%D0%B0%D1%84%D0%B8%D1%8F_%D0%A7%D0%B5%D0%BB%D1%8F%D0%B1%D0%B8%D0%BD%D1%81%D0%BA%D0%B0_%D1%81_%D0%BE%D1%82%D1%80%D0%B0%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5%D0%BC_%282021%29.jpg", title="Челябинск")
        a(href="#")
            img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/Novosibirsk_view.jpg/266px-Novosibirsk_view.jpg", title="Новосибирск")
        a(href="#")
            img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/Yekaterinburg-overview-april-2015-russia-0001.jpg/305px-Yekaterinburg-overview-april-2015-russia-0001.jpg", title="Екатеринбург")
        a(href="#")
            img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/%D0%94%D0%B2%D0%BE%D1%80%D0%B5%D1%86_%D0%B7%D0%B5%D0%BC%D0%BB%D0%B5%D0%B4%D0%B5%D0%BB%D1%8C%D1%86%D0%B5%D0%B22.jpg/266px-%D0%94%D0%B2%D0%BE%D1%80%D0%B5%D1%86_%D0%B7%D0%B5%D0%BC%D0%BB%D0%B5%D0%B4%D0%B5%D0%BB%D1%8C%D1%86%D0%B5%D0%B22.jpg", title="Казань")
        a(href="#")
            img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/07/NN_01-09-2021_06.jpg/266px-NN_01-09-2021_06.jpg", title="Нижний Новгород")
        a(href="#")
            img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/30/Rostov_on_Don_panoramic.png/266px-Rostov_on_Don_panoramic.png", title="Ростов-на-Дону")
        a(href="#")
            img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/%D0%93%D0%BB%D0%B0%D0%B2%D0%BD%D0%BE%D0%B5_%D0%B7%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5_%D1%83%D0%BF%D1%80%D0%B0%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D1%8F_%D0%AE%D0%92%D0%96%D0%94.jpg/290px-%D0%93%D0%BB%D0%B0%D0%B2%D0%BD%D0%BE%D0%B5_%D0%B7%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5_%D1%83%D0%BF%D1%80%D0%B0%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D1%8F_%D0%AE%D0%92%D0%96%D0%94.jpg", title="Воронеж")
        a(href="#")
            img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Sochi_Marine_passenger_terminal_P5010102_2175.jpg/270px-Sochi_Marine_passenger_terminal_P5010102_2175.jpg", title="Сочи")
        a(href="#")
            img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Simferopol_Montage.png/290px-Simferopol_Montage.png", title="Симферополь")
        hr
        h2 Самые популярные города
        p
            img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/Moscow_July_2011-16.jpg/266px-Moscow_July_2011-16.jpg", title="Москва")
            br
            | Москва — столица России, город федерального значения, административный центр Центрального
            | федерального округа и центр Московской области, в состав которой не входит. Крупнейший по численности населения
            | город России и её субъект — 13 010 112 человек (2021), самый населённый из городов, полностью расположенных в
            | Европе, занимает 22-е место среди городов мира по численности населения, крупнейший русскоязычный город в мире.
            | Центр Московской городской агломерации. Самый крупный город Европы по площади.
        p
            img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/Palace_Bridge_SPB_%28img2%29_Crop.jpg/266px-Palace_Bridge_SPB_%28img2%29_Crop.jpg", title="Санкт-Петербург")
            br
            | Санкт-Петербург — второй по численности населения город Роccии. Город
            | федерального значения. Административный центр Северо-Западного федерального округа. Основан 16 (27) мая 1703
            | года царём Петром I. В 1714—1728 и 1732—1918 годах — столица Российского государства. Назван в честь святого
            | Петра — небесного покровителя царя-основателя, но со временем стал всё больше ассоциироваться с именем самого
            | Петра I. Город исторически и культурно связан с рождением Российской империи и вхождением России в современную
            | историю в роли европейской великой державы. Расположен на северо-западе страны на побережье Финского залива и в
            | устье реки Нева. Граничит с Ленинградской областью, также имеет морские границы с Финляндией и Эстонией.
        p
            img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/%D0%A3%D1%81%D1%81%D1%83%D1%80%D0%B8%D0%B9%D1%81%D0%BA%D0%B8%D0%B9_%D0%B1%D1%83%D0%BB%D1%8C%D0%B2%D0%B0%D1%80.jpg/290px-%D0%A3%D1%81%D1%81%D1%83%D1%80%D0%B8%D0%B9%D1%81%D0%BA%D0%B8%D0%B9_%D0%B1%D1%83%D0%BB%D1%8C%D0%B2%D0%B0%D1%80.jpg", title="Хабаровск")
            br
            | Хабаровск — город (с 1880 года) в России, административный центр Хабаровского края.
            | Один из крупнейших политических, образовательных и культурных центров Дальнего Востока России. Образует
            | муниципальное образование город Хабаровск со статусом городского округа как единственный населённый пункт в его
            | составе. Крупнейший город Дальнего Востока с населением 617 441 чел. (2021).
