doctype html
html
    head
        title Москва
        link(rel="stylesheet")
    body
        details
            summary Меню
            ul
                li
                    a(href="/") Главная страница
                li
                    a(href="table") Таблица
        hr
        h1 Москва
        p
            img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/Moscow_July_2011-16.jpg/266px-Moscow_July_2011-16.jpg", title="Москва")
            br
            | Москва — столица России, город федерального значения, административный центр Центрального
            | федерального округа и центр Московской области, в состав которой не входит. Крупнейший по численности населения
            | город России и её субъект — 13 010 112 человек (2021), самый населённый из городов, полностью расположенных в
            | Европе, занимает 22-е место среди городов мира по численности населения, крупнейший русскоязычный город в мире.
            | Центр Московской городской агломерации. Самый крупный город Европы по площади.
