extends ../city.pug

block title
    title Новосибирск

block header
    | Новосибирск 

block image
    img(src=require('Images/novosibirsk.jpg'), title="Москва")
block text
    p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis lectus at consectetur vestibulum. Suspendisse facilisis, diam id ornare
        | hendrerit, leo massa interdum nulla, sed tincidunt sapien odio eget purus. Mauris porta tellus eget volutpat ornare. Integer hendrerit sed
        | nunc at tempor. Sed at egestas ante, mollis condimentum dolor. Aliquam ac lobortis leo. Donec vestibulum nisl et ligula scelerisque tincidunt.
        | Nulla quis ultricies orci. Sed non ante sed ipsum facilisis mattis ut porttitor sapien. Cras at libero vel dui blandit accumsan ut vitae ante.
        | Quisque eu enim id turpis mattis tincidunt.
    p
        | Pellentesque vel mi eros. Phasellus ultricies risus at dolor pellentesque, eget ultrices velit imperdiet. Nam finibus laoreet nisl at imperdiet.
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed feugiat odio. Nullam in purus ac felis maximus commodo blandit ac ligula.
        | Phasellus dignissim egestas sapien quis dictum.
    p
        | Nulla nec erat mi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed et lobortis arcu, quis ornare felis.
        | Cras porttitor elit vitae convallis luctus. Etiam consequat sem purus, ac porttitor dolor mollis vestibulum. Vivamus id lacus libero.
        | Morbi magna mi, feugiat ac risus in, hendrerit fermentum nisi. Sed accumsan hendrerit tellus a lacinia. Nunc tempus dapibus dapibus.
        | Nullam ultrices quis neque nec interdum. Etiam vulputate orci in ultricies mollis. Integer at mauris velit. Vestibulum et lorem nibh.
        | Maecenas scelerisque leo nec tempor gravida.
    p
        | Donec non turpis pulvinar, molestie risus at, rhoncus mauris. Sed pulvinar molestie ullamcorper. Aliquam quis commodo purus. Morbi id porttitor
        | lorem. Maecenas ultrices eros in augue gravida, a imperdiet arcu sagittis. Proin ac massa eget orci laoreet ultricies sit amet et metus.
        | Donec blandit eget enim vestibulum ullamcorper. Curabitur gravida, mauris eu lobortis maximus, libero massa malesuada quam, quis dictum sem
        | risus eget augue. Cras et tellus tempus arcu cursus aliquam congue in magna. Nam non tempor dolor.
    p
        | Aliquam ultricies dui non felis blandit pulvinar. Sed dignissim hendrerit tempor. Integer pretium orci eu facilisis ornare. Donec sit amet rutrum
        | lectus. Nunc fringilla condimentum massa id bibendum. Suspendisse gravida enim a erat luctus vulputate. Nulla sed mi eu lacus dignissim
        | fringilla vulputate eu tellus. In ornare nulla id erat rhoncus, a congue orci rhoncus. Duis sodales sodales risus elementum lacinia.
        | Fusce malesuada lobortis tortor quis fermentum. Pellentesque sit amet risus lectus. Suspendisse tristique odio sit amet mi sagittis semper.
        | Phasellus dictum iaculis rutrum. 
